<!DOCTYPE html>{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <title>FILE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    h6 {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      margin: 0 0 20px 0;
      padding: 0;
    }
  </style>
</head>

<body style="background-color:#423644;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3>
          <p class="text-left badge  badge-warning">hello!<strong> {{ request.user }}</strong></p>
        </h3>
      </div>
      <div class="col-sm-4">
        <p class="text-center">
          <br>
          {% if request.user.is_superuser %}
          <a href="admin/" data-toggle="tooltip" title="admin pannel">
            <button type="button" style="background-color: mintcream;" class="btn">admin</button>
          </a>
          {% endif %}
          <a href="logout/" data-toggle="tooltip" title="log out">
            <button type="button" class="btn btn-danger">LOGOUT</button>
          </a>
          <a href="admin/password_change/" data-toggle="tooltip" title="log out">
            <button type="button" class="btn btn-primary">change password</button>
          </a>
        </p>
      </div>
    </div>
    {% if request.user.is_superuser %}
    <br>
    <div class="text text-center">
      <h2>
        <p class="badge badge-info">ADMIN DASHBOADR</p>
      </h2>
    </div>
    <div ng-app>
      <div class="d-flex" id="wrapper">
        <div class="container">
          <div class="row">
            <div class="card border-warning mb-3" style="max-width: 18rem;max-height:400rem;background-color: mintcream; ">
              <div class="card-header">
                <h4>Employee Creation</h4>
              </div>
              <div class="card-body text-info">
                <p class="card-text text-dark">create employee and check thier status. <br><strong>If u have already
                    uploaded the file then click on verify status button</strong></p>
                <button class="btn btn-secondary" ng-click="page='create'">Create Employees</button>
              </div>
            </div>
            <div class="col">
              <div class="card border-warning  mb-3" style="max-width: 18rem;background-color: mintcream;">
                <div class="card-header">
                  <h4>Payroll</h4>
                </div>
                <div class="card-body text-dark">
                  <p class="card-text">Send and verify the details of the payroll.<br><strong>If u have already uploaded
                      the file then click on verify payroll button</strong> </p>
                  <button class="btn btn-primary" ng-click="page='send-message'">Check Payroll</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div ng-show="page === 'create'">
              <p><span style="color: mintcream;">add file here:</span><a class="text-center"
                  href="/admin/automate/employee/add" data-toggle="tooltip" title="add new file">
                  <button type="button" class="badge badge-info" style="color: rgb(0, 0, 0);">Add employee file</button>
                </a></p>
              <h4 class="text" style="color: mintcream;">these are the files containing employee details</h4>
              <table class="table table-bordered table-sm" style="background-color: mintcream;">
                <thead>
                  <tr>
                    <th scope="col">
                      <h6><strong>File Name</strong></h6>
                    </th>
                    <th scope="col">
                      <h6><strong>Update</strong></h6>
                    </th>
                    <th scope="col">
                      <h6><strong>verify</strong></h6>
                    </th>
                  </tr>
                </thead>
                {% for file in files %}
                <tbody>
                  <tr>
                    <th scope="row">
                      <h6>{{ file.employee_file }}</h6>
                    </th>
                    <td>
                      <p>
                        <a href="update-details/{{file.id}}" class="badge badge-pill badge-primary">Update File</a>
                      </p>
                    </td>
                    <td>
                      <p>
                        <a href="verify-employee/{{file.id}}" class="badge badge-pill badge-dark">Verify Status</a>
                      </p>
                    </td>
                  </tr>
                </tbody>
                {%endfor%}
              </table>
            </div>
            <div ng-show="page === 'send-message'">
              <p><span style="color: mintcream;">add file here:</span><a class="text-center"
                  href="/admin/automate/payroll/add/" data-toggle="tooltip" title="add new file">
                  <button type="button" class="badge badge-info" style="color: rgb(0, 0, 0);">Add Payroll file</button>
                </a></p>
              <h4 class="text-success">these are the files which contains payroll details</h4>
              <table class="table table-bordered table-sm table-dark" style="background-color: mintcream;;">
                <thead>
                  <tr>
                    <th scope="col">
                      <h6 class="text text-dark"><strong>Month</strong></h6>
                    </th>
                    <th scope="col">
                      <h6 class="text text-dark"><strong>Status</strong></h6>
                    </th>
                    <th scope="col">
                      <h6 class="text text-dark"><strong>update</strong></h6>
                    </th>
                    <th scope="col">
                      <h6 class="text text-dark"><strong>verify</strong></h6>
                    </th>
                  </tr>
                </thead>
                {% for file in payroll_file %}
                <tbody>
                  <tr>
                    <th scope="row">
                      <h6 class="text text-dark">{{ file.month}}</h6>
                    </th>
                    <td>
                      {%ifequal "Visible" file.status %}
                      <p class="badge badge-pill badge-success">Visible</p>
                      {%else%}
                      <p class="badge badge-pill badge-danger">Hidden</p>
                      {%endifequal%}
                    </td>
                    <td>
                      <p>
                        <a href="/admin/automate/payroll/{{file.id}}/change/"
                          class="badge badge-pill badge-primary">Update File</a>
                      </p>
                    </td>
                    <td>
                      <p>
                        <a href="verify-payroll/{{file.id}}" class="badge badge-pill badge-dark">Verify Status</a>
                      </p>
                    </td>
                  </tr>
                </tbody>
                {%endfor%}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <h4 class="text-success">Below are payroll details</h4>
    <table class="table table-bordered table-sm table-dark" style="background-color: mintcream;;">
      <thead>
        <tr>
          <th scope="col">
            <h6 class="text text-dark"><strong>Month</strong></h6>
          </th>
          <th scope="col">
            <h6 class="text text-dark"><strong>Basic</strong></h6>
          </th>
          <th scope="col">
            <h6 class="text text-dark"><strong>TA</strong></h6>
          </th>
          <th scope="col">
            <h6 class="text text-dark"><strong>DA</strong></h6>
          </th>
          <th scope="col">
            <h6 class="text text-dark"><strong>PF</strong></h6>
          </th>
          <th scope="col">
            <h6 class="text text-dark"><strong>Total</strong></h6>
          </th>
        </tr>
      </thead>
      {% for TA,DA,PF,basic,total,month in list %}
      <tbody>
        <tr>
          <td scope="row"><h6 class="text text-dark">{{ month }}</h6></td>
          <td>
            <h6 class="text text-dark">{{ basic }}</h6>
          </td>
          <td>
            <h6 class="text text-dark">{{ TA }}</h6>
          </td>
          <td>
            <h6 class="text text-dark">{{ DA }}</h6>
          </td>
          <td>
            <h6 class="text text-dark">{{ PF }}</h6>
          </td>
          <td>
            <h6 class="text text-dark">{{ total }}</h6>
          </td>
        </tr>
      </tbody>
      {%endfor%}
    </table>
    <button type="button" style="background-color: mintcream;" class="btn" onclick="window.print()">Print</button>
    {%endif%}
  </div>
</body>
</html>