<!DOCTYPE html>{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FILE-update</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        /* body{
            background-repeat: no-repeat;
            background: url('/media/images/pattern.jpg');
            background-blend-mode:overlay;
            background-size: cover;
        } */

        h6 {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            margin: 0 0 20px 0;
            padding: 0;
            }
        .errorlist{
            border: 2px red solid;
            background-color: yellow
        }
    </style>
</head>
<body>
   <div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formPayment"></span>
                    <hr class="my-5">
                    <div class="card card-outline-secondary">
                        <div class="card-body">
                            <h3 class="text-center">Update {{instance}}</h3>
                            <hr color="red" >
                            <form action="{% url 'update-details' instance.id  %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="container">
                                    <div class="row">
                                         {{ form.as_p }}
                                    </div>
                                </div>
                                    <button class="btn btn-success" value="submit" type="submit">Update</button>
                                    <p class="text-right" ><a href="/" data-toggle="tooltip" title="cancel">
                                        <button type="button" class="btn btn-danger">cancel</button>
                                    </a></p>
                            </form>
                        </div>
                    </div>
<script>
    $(document).ready(function(){
  $("form").submit(function(){
    alert("file will be updated click ok and wait until the file is uploaded");
  });
});
</script>
</body>